@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --accent: #c084fc;

  --shadow: rgba(0,0,0,0.4) 0 10px 15px -3px,
            rgba(0,0,0,0.25) 0 4px 6px -2px;
}

/* Genel sayfa */
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

/* React root alanı */
#root {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Başlık */
h1 {
  font-size: 64px;
  font-weight: 700;
  color: var(--text-h);
  margin-bottom: 12px;
  text-align: center;
}

/* Alt başlık */
p {
  text-align: center;
}

/* Kartlar */
.card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: var(--shadow);
}

/* Input */
input {
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 12px;
  font-size: 16px;
}

/* Buton */
button {
  border-radius: 12px;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}